div.navbarSecond
    ul
        li 
            a(href="/filter?tag=fiction") Fiction
        li 
            a(href="/filter?tag=horror") Horror
        li
            a(href="/filter?tag=true_story") True Story
        li
            a(href="/filter?tag=fantasy") Fantasy
        li
            a(href="/filter?tag=romance") Romance
        li
            a(href="/filter?tag=science") Science