div.navbar
    ul
        h3 
            a Books
        li 
            a Bookshelf
        li 
            a E-books
        li
            a Stores & Events
        form.searchBar
            input
            p Search
        li 
            a Sign In