div.navbar
    .splitter
        ul.left
            h3 
                a(href="/") Books
            li 
                a(href="/bookshelf") Bookshelf
            li 
                a E-books
            li
                a Stores & Events
        ul.right
            form.searchBar
                img(src="./images/search_filled.svg").searchIcon
                input
            li 
                a Sign In