div.navbar
    include ../login
    .splitter
        ul.left
            h3 
                a(href="/") Books
            li 
                a Bookshelf
            li 
                a E-books
            li
                a Stores & Events
        ul.right
            form.searchBar
                input
            li 
                a(href="/login") Sign In