div.navbarSecond
    ul
        li 
            a Fiction
        li 
            a Horror
        li
            a True Story
        li
            a Fantasy
        li
            a Romance
        li
            a Science