script(src="/js/utils.js")

form(method="post")
    input(type="text" name="username" placeholder="Username" required)
    input(type="password" name="password" placeholder="Password" required)
    input(type="email" name="email" placeholder="email" required)
    input(type="numbers" name="telefon" placeholder="telefon" required)
    input(type="text" name="aadress" placeholder="aadress")
    input(type="image" name="pilt" placeholder="pilt")
    input(type="submit")
