include template
block content 

    .cont
        .splitter_threeway
            .profile_picture 
                img(src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png")
            .info 
                p.textGray username 
                p.textGray gmail
            .extraSetting
                button.btnGray Profile
                button.btnGray Payment
                button.btnGray My orders
                button.btnGray Privacy 
                button.btnGray Notifications
        .favoriteBooks 
            h3 Recent Purchases
            .bookGrid
                .book 
                    a(href="/book/quran")
                        img(src="https://cdn11.bigcommerce.com/s-t11n7yugwk/images/stencil/1280x1280/products/142/3728/TheClearQuran_GoldFoil_front__45005.1527014350.jpg?c=2")