include template
block content 
    include components/navbar
    include components/navbarSecond

    .cont
        h1 Book name
        p Author name
        br
        br
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo veniam, incidunt vitae repellat perferendis odio dolor temporibus ducimus consectetur quod placeat excepturi omnis doloribus minus modi nobis esse consequatur itaque illum. Labore at repellendus est dolorum consectetur consequuntur recusandae quos! Quasi iste magnam eos impedit. Tempora fuga amet dolor pariatur consequuntur ipsam temporibus eius sed vitae reprehenderit distinctio autem, quia modi. Recusandae non hic quod enim, illo temporibus, voluptate mollitia ex tempore fuga veniam rem est cum veritatis aliquid harum, nobis omnis libero exercitationem minima. Obcaecati unde corporis saepe maxime ipsum labore perferendis natus aut voluptas, tempora pariatur officia non veritatis amet.