include template
block content 
    include components/navbar
    include components/navbarSecond

    .cont
        h1=sendable.raamatu_pealkiri
        p=sendable.autor
        br
        br
        p=sendable.raamatu_sisu