include template
block content 
    include components/navbar
    include components/navbarSecond

    .divider

    .buffer 
        h3 New Books
    .books
        .book
            img(src="https://edit.org/photos/images/cat/book-covers-big-2019101610.jpg-1300.jpg")
            a(href="/books/test") a
        .book
            img(src="https://cdn11.bigcommerce.com/s-t11n7yugwk/images/stencil/1280x1280/products/142/3728/TheClearQuran_GoldFoil_front__45005.1527014350.jpg?c=2")
        .book
            img(src="https://edit.org/photos/images/cat/book-covers-big-2019101610.jpg-1300.jpg")
        .book
            img(src="https://edit.org/photos/images/cat/book-covers-big-2019101610.jpg-1300.jpg")
        .book
            img(src="https://edit.org/photos/images/cat/book-covers-big-2019101610.jpg-1300.jpg")
        .book
            img(src="https://edit.org/photos/images/cat/book-covers-big-2019101610.jpg-1300.jpg")
        .book
            img(src="https://edit.org/photos/images/cat/book-covers-big-2019101610.jpg-1300.jpg")
    .buffer
        h3 Popular Books
    .books
        .book
            img(src="https://cdn11.bigcommerce.com/s-t11n7yugwk/images/stencil/1280x1280/products/142/3728/TheClearQuran_GoldFoil_front__45005.1527014350.jpg?c=2")
        .book
            img(src="https://cdn11.bigcommerce.com/s-t11n7yugwk/images/stencil/1280x1280/products/142/3728/TheClearQuran_GoldFoil_front__45005.1527014350.jpg?c=2")
        .book
            img(src="https://cdn11.bigcommerce.com/s-t11n7yugwk/images/stencil/1280x1280/products/142/3728/TheClearQuran_GoldFoil_front__45005.1527014350.jpg?c=2")
        .book
            img(src="https://cdn11.bigcommerce.com/s-t11n7yugwk/images/stencil/1280x1280/products/142/3728/TheClearQuran_GoldFoil_front__45005.1527014350.jpg?c=2")
        .book
            img(src="https://cdn11.bigcommerce.com/s-t11n7yugwk/images/stencil/1280x1280/products/142/3728/TheClearQuran_GoldFoil_front__45005.1527014350.jpg?c=2")
    .buffer