include template
block content 
    include components/navbar
    include components/navbarSecond

    .cont
        .ebooks
            .main_book 
                img(src="https://edit.org/photos/images/cat/book-covers-big-2019101610.jpg-1300.jpg")
                div
                    h4 Current popular e-book
                    p text

            .book_row
                h3 Extra e-books
                each raamat in raamatList
                    .book
                        a(href=`/book/${raamat.raamatu_id}`, onclick=`console.log('Clicked on image: ${raamat.raamatu_id}')`)
                            img(src=`${raamat.pilt}`, class="book-image", style='flex-basis: 33.33%')