include template
block content 
    include components/navbar
    include components/navbarSecond

    .splitter
        .main_book
            h3 Current Most Popular Books
            img
        .extra_books
            h3 Current popular
            .book_grid
                p test