include template
block content 
    include components/navbar
    include components/navbarSecond
    .splitter
        .main_book
            h3 Current Most Popular Books
            img(src="https://cdn11.bigcommerce.com/s-t11n7yugwk/images/stencil/1280x1280/products/142/3728/TheClearQuran_GoldFoil_front__45005.1527014350.jpg?c=2").img_big
        .extra_books
            h3 Current popular
            .book_grid
                - var n = 0;
                while n < 9
                    each indraamat in raamat
                        img(src=indraamat.pilt)
                    li= n++